.DS_Store
/*/*/build/
/*/build/
/*/dist/
/*/external/*.jar
/*/external/*.zip
/*/external/*/**
/*/nbproject/private/
/cnd.apt/src/org/netbeans/modules/cnd/apt/impl/support/generated/
/cnd.apt/src/org/netbeans/modules/cnd/apt/support/APTTokenTypes.java
/cnd.asm/src/org/netbeans/modules/cnd/asm/base/generated/
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/impl/services/evaluator/parser/generated/
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/FortranLexicalPrepass.java
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/FortranParser.g
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/FortranParser2.g
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/FortranParserActionFactory.java
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/FortranStream.java
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/FortranToken.java
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/FortranTokenStream.java
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/IActionEnums.java
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/IFortranParserAction.java
/cnd.modelimpl/src/org/netbeans/modules/cnd/modelimpl/parser/generated/
/cordova.platforms.ios/external/*.dylib
/cordova.platforms.ios/external/ios-sim
/cordova/cordovaprojectupdate/build/
/cordova/cordovaprojectupdate/dist/
/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/JavaCharStream.java
/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/ParseException.java
/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/SQLParser.java
/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/SQLParserConstants.java
/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/SQLParserTokenManager.java
/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/Token.java
/db.sql.visualeditor/src/org/netbeans/modules/db/sql/visualeditor/parser/TokenMgrError.java
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/application/model_1_4/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/application/model_5/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/application/model_6/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/application/model_7/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/client/model_1_4/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/client/model_5_0/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/client/model_6_0/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/client/model_7_0/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/model_2_1/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/model_3_0/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/model_3_1/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/ejb/model_3_2/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/model_2_4/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/model_2_5/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/model_3_0/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/model_3_0_frag/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/model_3_1/
/j2ee.dd/src/org/netbeans/modules/j2ee/dd/impl/web/model_3_1_frag/
/java.examples/ClientEditor/build/
/java.j2seproject/copylibstask/build/
/java.j2seproject/copylibstask/dist/
/javawebstart/AntTasks/build/
/javawebstart/AntTasks/dist/
/nbbuild/NetBeans-*.zip
/nbbuild/netbeans/
/nbbuild/testuserdir/
/websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/jaxb/
/websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/oauth/
/websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/wadl/
